@font-face {
    font-family: link;
    src: url(jpeg/hlblong.ttf);
}

html {
    padding: 0;
    border: 0;
    margin-bottom: -10%;
}

body {
    background-color: black;
}

span {
    font-weight: bold;
    font-size: 23px;
    color: white;
}

.center {
    text-align: center;
    margin-top: -81.1%;
    background-color: black;
}

.link {
    text-decoration: none;
}

.img {
    display: inline-block;
    background-position: center;
    background-size: 7em;
    height: 7em;
    width: 7em;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.heading {
    padding: 1em 0 0.5em;
}

.subheading {
    padding: 0 0 1em;
}

.block {
    margin: 20px auto;
    padding: 30px 20px 10px;
    width: 60%;
}

#nhan {
    background-size: cover;
    background-image: url("jpeg//476c8ef774acda1282b4b383efa7e359.png");
    background-position-y: 0px;
    background-position-x: 0px;
}

#call {
    background-image: url("jpeg//cd5010c77936156027d1c6ddcf7d3016.png");
    background-size: cover;
}

#email {
    background-image: url("jpeg//f6cabd7b5073da89ca538f6646522f6d.png");
    background-size: cover;
}

.header-background {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -20;
    position: absolute fixed;
    object-fit: cover;
}

#right {
    margin-left: 50%;
    width: 50%
}

#left {
    width: 50%;
}

a {
    color: rgb(0, 173, 216);
    font-family: link;
}

.header {
    font-size: 1.35em;
}

@media screen and (min-width: 992px) {
    .block {
        margin: 20px 1.1%;
        float: left;
        width: 31%;
    }
    .small {
        display: none;
    }
    .large {
        display: block;
    }
}